html{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
/*Nav Section*/
.navbar-nav{
  font-family: 'Open Sans',sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar-default .navbar-nav > .active > a{
  color: #399bd1;
  background-color: inherit;
  cursor: default;
}
.navbar-default .navbar-nav > .stationary > a:hover,.navbar-default .navbar-nav > .active > a:hover{
  color: #399bd1;
  background-color: inherit;
}
/* Jumbotron Section*/
.jumbotron{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  padding: 11.85rem 0rem;
}
.jumbotron h1{
  font-family: Monoton, sans-serif;
  font-size: 7.1rem;
  color: white;
}
.jumbotron p{
  color: white;
  font-family: 'Open Sans';
  max-width: 51.3rem;
  margin: auto;
}
.jumbotron-bike{
  background-image: url('../images/jumbotron-bike.jpg');
}
.btn-primary{
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-color: #399bd1;
  margin-top: 2.8rem;
  width: 11.4rem;
  padding: 1.3rem 0rem;
}
.btn-primary:hover{
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
}
.btn-primary:active{
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}
/*Featured Project & Projects Section*/
h2{
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}
.featured-project h3, .project h3{
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.4;
  color: rgba(0,0,0,0.7);
}
.featured-project .image-container{
  margin-top: 20px;
  height: 19rem;
  overflow: hidden;
}
.image-container img{
  opacity: 0.7;
  width: 100%;
}
.project{
  margin-bottom: 5.85rem;
}
